.heater-params {
  width: 80%;
  margin: auto;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;

  >label {
    padding-bottom: 8px;
  }

  >input {
    padding: 6px;
    margin-bottom: 16px;
  }
}